div.card-btn-toolbar {
    position: absolute;
    right: 0;
    top: 0;
}

div.card-btn-toolbar button {
    border-top-left-radius: 0;
    border-bottom-right-radius: 0;
}

div.card-container {
    position: relative;
}
