.AddCardTextInput .navbar-inverse .navbar-form .input-group-btn .btn-default {
    background-color: #293a4a;
}

.AddCardTextInput .navbar-inverse .navbar-form .input-group {
    -webkit-transition: width 0.5s ease-in-out;
    -moz-transition: width 0.5s ease-in-out;
    -o-transition: width 0.5s ease-in-out;
    transition: width 0.5s ease-in-out;
}

@media (max-width: 768px) {
    .AddCardTextInput .navbar-inverse .navbar-form .input-group {
        width: 100%;
    }
}

@media (min-width: 768px) {
    .AddCardTextInput .navbar-inverse .navbar-form .input-group {
        width: 300px;
    }

    .AddCardTextInput .navbar-inverse .navbar-form .focus {
        width: 500px;
    }
}
